[core]
	editor = vim
[user]
	email = iivanovw7@gmail.com
	name = Igor Ivanov
[credential]
	helper = cache --timeout=6048000
[alias]
	prom = "!git pull --rebase origin $(git remote show origin | grep 'HEAD branch' | cut -d' ' -f5)"
